/* VCF Porter CSS style sheet */

body {
    background: url('../images/patterns/pattern.png') repeat scroll 0% 0% transparent;
    color: white;
    overflow: scroll;
}

#topnav {
    height: 50px;
    width: 100%;
    z-index: 3;
}

.sub-nav {
    height: 50px;
    width: 100%;
    background-color: #EEE;
    color: black;
    z-index: 3;
}

.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-to-top.below-topnav {
    top: 50px;
}

.pad-to-below-topnav {
    padding-top: 50px;
}

.pad-to-below-subnav {
    padding-top: 100px;
}

#vcf-file-from-hdd {
    margin-bottom: 3em;
}

#vcf-file-list-container {
    color: black;
    margin-bottom: 1em;
}
#vcf-file-list-container > ul { overflow: hidden; }

#contact-list-container { margin-bottom: 4.5rem; }
#contact-list-container > ul { overflow: hidden; }

/* Building block overrides */

section[data-type="list"] {
    background-color: white;
}

section[role="region"] > header:first-child h1 {
    font-style: normal;
}

.button, .bb-button, .button {
    font-style: normal;
}

.bb-button.ff-orange {
    background-color : #F97C17;
    color: white;
}

a.bb-button > span[data-icon],
button.bb-button > span[data-icon] {
    font-size: 30px;
    vertical-align: middle;
}

.bb-tablist { position: fixed; }

[data-type="list"] [data-type="edit"] aside.pack-end.force-show { display: block; }
[data-type="list"] [data-type="edit"] li > label { width: 100%; }

/** Tab styling */

.tab-container {
    position: relative;
    transition: left 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -moz-transition: left 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -webkit-transition: left 0.1s ease-in-out, opacity 0.1s ease-in-out;
    z-index: 1;
}

.slide-in-left {
    left: 0;
    opacity: 1;
}

.pre-slide-in {
    left: 50px;
    opacity: 0;
}

#footer-tabs {
    z-index: 3;
}

#footer-tabs > li > a {
    border-right-style: solid;
    border-right-color: #CCC;
    border-right-width: 1px;
}

#footer-tabs > li:last-child > a {
    border-right: none
}

#footer-tabs > li > a > div.active-bar {
    display: none;
    position: relative;
}

#footer-tabs > li > a.active > div.active-bar {
    display: block;
    border-top-style: solid;
    border-top-color: #0095DD;
    border-top-width: 5px;
    top: -10px;
}

.centered-text {
    text-align: center;
}

.slim-pad {
    padding: 1em;
}

.alert {
    padding: 1em;
}

h2.alert-success {
    background-color: #2ecc71; /* "EMERALD" from flatuicolors.com */
    color: white;
}

h2.alert-error {
    background-color: #e74c3c; /* "ALIZARIN" from flatuicolors.com */
    color: white;
}

h2.alert-info {
    background-color: #3498db; /* "PETER RIVER" from flatuicolors.com */
    color: white;
}

h2.alert-caution {
    background-color: #f39c12; /* "ORANGE" from flatuicolors.com */
    color: white;
}