<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VCF Porter</title>
    <meta name="description" content="VCF Porter is an app for extracting contacts from vCard files.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />

    {{BASE_TAG}}

    <!-- FirefoxOS Styles -->
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/headers.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/buttons.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/switches.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/tabs.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/toolbars.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/lists.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/style/progress_activity.css" />

    <!-- PureCSS -->
    <link rel="stylesheet" type="text/css" href="assets/pure/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="assets/pure/grids-responsive-min.css" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="assets/gaia-icons/gaia-icons-embedded.css" />

    <!-- Transitions & utility CSS -->
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/transitions.css" />
    <link rel="stylesheet" type="text/css" href="assets/building-blocks/util.css" />

    <link rel="stylesheet" type="text/css" href="assets/vendor.css" />
    <link rel="stylesheet" type="text/css" href="assets/vcfporter.css" />
  </head>
  <body>
    <script src="assets/pre-start.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/vcfporter.js"></script>
    <script src="assets/start.js"></script>
  </body>
</html>
