<section role="region" id="topnav" class="fixed-to-top">
  <header>
    <h1>{{pageTitle}}</h1>
  </header>
{{#if progressShow}}
  <progress {{bind-attr value=progressAmount class="progressActivity:pack-activity" }} max="100"></progress>
{{/if}}
</section>
