{{outlet}}

<!-- Bottom toolbar -->
<div class="footer">
  <ul id="footer-tabs" class="bb-tablist" role="tablist">
    <li>
      {{#link-to "load-vcfs"}}
      <span data-icon="contact-find"> </span>
      <div class="active-bar"></div>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "select-contacts"}}
      <span data-icon="edit"></span>
      <div class="active-bar"></div>
      {{/link-to}}
    </li>
    <li>
      {{#link-to "save-contacts"}}
      <span data-icon="add-contact"></span>
      <div class="active-bar"></div>
      {{/link-to}}
    </li>
  </ul>
</div>
