<!-- Header -->
{{partial "topnav"}}

{{#view "slide-in-tab-view"}}
<div class="pad-to-below-topnav" id="page-wrap">

  {{#if platform_web}}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2" id="vcf-file-from-hdd">
        <div class="slim-pad">
          <h1>Pick a vCard (*.vcf) File from your hard drive</h1>
          <input id="hdd-vcf-file" type="file"></input>
          <br/>
          <br/>
          <a {{action 'addVCFFromInput'}} role="button" href="#" class="bb-button">
            Add VCF File&nbsp;&nbsp;
            <span data-icon="add"></span>
          </a>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="pure-g">
    <div class="pure-u-1" id="vcf-file-from-hdd">
      <div class="slim-pad">
        {{#if vcfFiles.length }}
          <h1>vCard files</h1>
          <section id="vcf-file-list-container" data-type="list">
            <ul data-type="edit">

              {{#each f in vcfFiles}}
              <li>
                <label class="pack-checkbox success" {{action 'toggleSelectedFile' f }}>
                  {{input type="checkbox" name="isSelected" checked=f.selected}}
                  <span></span>
                </label>
                <aside class="pack-end">
                </aside>
                <p>{{f.baseName}}</p>
              </li>
              {{/each}}

            </ul>
          </section>

          <button {{action 'loadVCards'}} class="bb-button recommend">
            Load Contacts&nbsp;&nbsp;
            <span data-icon="contact-find"></span>
          </button>

          {{else}}

          <h1>Failed to find any vCard files...</h1>
          <h2>Please ensure there are some files with the extension ".vcf" on your storage device.</h2>

        {{/if}}
      </div> <!-- /div.slim-pad -->
    </div> <!-- /div#vcf-file-from-hdd -->
  </div>
</div>
{{/view}}