<!-- Header -->
{{partial "topnav"}}

{{#view "slide-in-tab-view"}}
<div class="pad-to-below-topnav" id="page-wrap">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2" id="save-contacts">
      <div class="slim-pad">
        {{#if selectedContacts.length}}

          {{#if platform_ffos}}
            <h1>{{selectedContacts.length}} Contact(s) selected</h1>

            <button {{action 'saveSelectedContacts'}} class="bb-button ff-orange">
              Save to Device&nbsp;&nbsp;
              <span data-icon="firefox"></span>
            </button>
          {{/if}}

          {{#if platform_web}}
            <h1>Sorry, VCFPorter currently only supports saving contacts to FirefoxOS Phones</h1>
            <h2>Google contacts API support coming soon..</h2>
            {{! <button class="bb-button">Save to Google</button> }}
            {{! <button class="bb-button">Save to Facebook</button> }}
          {{/if}}

          {{! Saving progress }}

          {{#if successfullySavedContacts}}
            <h2 class="alert alert-success">
              Processed {{contactsProcessed}} contact(s)!
            </h2>
          {{/if}}

          {{#if encounteredErrorSavingContacts}}
            <h2 class="alert alert-error">
              An error occurred while your contacts! :(
              <br/>
              Only processed {{contactsProcessed}} contact(s)!
            </h2>
          {{/if}}

        {{else}}

          <h1>No contacts selected...</h1>
          {{#link-to 'select-contacts' role="button" class="bb-button recommend"}}
          Select Contacts&nbsp;&nbsp;
          <span data-icon="undo"></span>
          {{/link-to}}

        {{/if}}
      </div> <!-- /div.slim-pad -->
    </div> <!-- /div#save-contacts -->
  </div> <!-- /div.pure-g -->
</div>
{{/view}}
