<!-- Header -->
{{partial "topnav"}}

{{#if contacts.length}}
  <div class="pure-g sub-nav fixed-to-top below-topnav">
    <a {{action 'selectAll'}} class="centered-text pure-u-1-2">
      <span data-icon="tick"></span>
      <br/>
      Select All
    </a>
    <a {{action 'unselectAll'}} class="centered-text pure-u-1-2">
      <span data-icon="select"></span>
      <br/>
      Unselect All
    </a>
  </div>
{{/if}}

{{#view "slide-in-tab-view"}}

{{#if contacts.length}}

  <div class="pad-to-below-subnav" id="page-wrap">
    <div class="pure-g">
      <div class="pure-u-1" id="save-contacts">
        <section id="contact-list-container" data-type="list">
          <ul class="selectable-contacts-list" data-type="edit">
            {{#each c in contacts}}

            <li>
              <label class="pack-checkbox success" {{action 'toggleSelectedContact' c }}>
                {{input type="checkbox" name="isSelected" checked=c.selected}}
                <span></span>
              </label>
                {{#if c.photos.length}}
                  <aside class="pack-end force-show">
                    <img alt="placeholder" {{bind-attr src=c.firstPhoto}}></img>
                  </aside>
                {{/if}}
              <p>{{c.displayableName}}</p>
              <p>
                {{#if c.firstPhoneNumber.value}}
                  {{c.firstPhoneNumber.value}}
                {{else}}
                  No Phone Number
                {{/if}}
              </p>
            </li>

            {{else}}

              <h2>Loading Contacts...</h2>

            {{/each}}
          </ul>
      </div> <!-- /div#save-contacts -->
    </div> <!-- /div.pure-g -->
  </div> <!-- /div#page-wrap -->

{{else}}

  <div class="pad-to-below-topnav" id="page-wrap">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
        <div class="slim-pad">
          <h1>No Contacts Found...</h1>
          {{#link-to 'load-vcfs' role="button" class="bb-button recommend"}}
          Load vCard (.vcf) files&nbsp;&nbsp;
          <span data-icon="undo"></span>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{/view}}
